@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
    font-size: 1.5rem;
    font-family: 'Ibarra Real Nova', serif;
}

.container{
    border: 2px solid black;
    height: 20vh;
    width: 25vw;
    background-color: skyblue;
    margin-top: 35vh;
    margin-left: 55vh;
    display: flex;  
    padding-left: 50px;
}

input{
    width: 80%;
    height: 20%;
    border: 2px solid black;
    outline: invert;
}